body{
    background-color: #d80303 !important;
    /* color: white !important; */
}

/* CSS Bandeau */
.infosConnectUser{
    text-align: center;
}
.img_user{
    width: 20px;
}
.welcome_user{
    float: left;
    height: 0px;
}
ul{
    display: table;
    width: 600px;
    margin: 30px auto;
    padding: 0;
    background: #d9534f;
    background: linear-gradient(#e8e8e8, #d9534f);

    /* Compatibilité pour les autres navigateurs */
    background: -webkit-linear-gradient(#e8e8e8, #d9534f);
    background:    -moz-linear-gradient(#e8e8e8, #d9534f);
    background:     -ms-linear-gradient(#e8e8e8, #d9534f);
    background:      -o-linear-gradient(#e8e8e8, #d9534f);

    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);
}
ul li{
    display: table-cell;
}
ul li a{
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, .7); 
    text-decoration: none;
    padding: 4px 4px 5px 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}
ul li a:hover, 
ul li a:focus{
    background: rgba(255,255,255,.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 hsl(0, 100%, 42%) inset, 
                0 -2px 0 hsl(0, 100%, 48%) inset, 
                0 -3px 0 hsl(0, 100%, 54%) inset, 
                0 -4px 0 hsl(0, 100%, 60%) inset, 
                0 -5px 0 hsl(0, 100%, 70%) inset; 
} 
ul li a:active{
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1)); 
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}


/* CSS Offres */
.cssDivOffre{
    display: -webkit-box;
}
.cssDivOffre2{
    padding: 10px;
    border:1px solid black;
    margin: 5px;
    width: 300px;
    height: 130px;
}
.infos_Offre{
    float: right;
    width: 200px;
    padding-left: 15px;
    margin-top: 5px;
}
.fa-heart:before {
    content: "\f004";
    float: left;
    padding: 10px;
    padding-top: 25px;
}


/* CSS Demandes */
.cssDivDemande{
    display: -webkit-box;
}
.cssDivDemande2{
    padding: 10px;
    border:1px solid black;
    margin: 5px;
    width: 300px;
    height: 130px;
}
.infos_Demande{
    float: right;
    width: 200px;
    padding-left: 15px;
    margin-top: 5px;
}
.fa-flag:before {
    content: "\f024";
    float: left;
    padding: 10px;
    padding-top: 25px;
}

/* CSS Deals */
.cssDivDeals{
    display: -webkit-box;
}
.cssDivDeals2{
    text-align: center;
    padding: 10px;
    border:1px solid black;
    margin: 5px;
}
.infos_Deals{
    float: right;
    width: 100px;
    margin-top: 5px;
}
.creator_deal{
    width: 70px;
}

/* CSS de la fenetre UPDATE */
.cssFenetre {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.contentForm {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* Css bouton ajouter offre et demande */
.fondDemande{
    width: 270px;
    border-bottom: 2px solid  rgb(216, 63, 29);
}

.lienplus
{
    width: 40px;
    position: absolute;
    text-align: center;
    border-radius: 500%;
    background-color:   rgb(34, 8, 179)  ;

}
